#container_character {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  background-color: rgb(24, 31, 41);  
  background-image: url("../assets/barraneve.png");
  background-position: 50%;
  background-repeat: no-repeat;
 
}

#pg_navbar{
  box-shadow: 0px 3px 5px 0px rgba(217,216,216,0.57);
-webkit-box-shadow: 0px 3px 5px 0px rgba(217,216,216,0.57);
-moz-box-shadow: 0px 3px 5px 0px rgba(217,216,216,0.57);
}
#pg_navbar nav{
  width: 100%;
}
#pg_navbar ul{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

#pg_navbar li{
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
  z-index: 9;
  transition: .5s ease-in-out;
}
#pg_navbar li:hover{
  transform: scale(1.1);
  filter: brightness(1.2);

}
#pg_navbar ul li a{
  text-decoration: none;
  color: var(--var-primary-light);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}
#main_character{
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 4rem;
  background-image: url("../assets/trono.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 860px;
}

#wrapper_character{
  color: var(--var-primary);
  width: 100%;
  max-width: 100%;
  height: 4rem;
  display: flex;
  align-items:center ;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 4px;
}

#wrapper_character .scroll_container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
}

#wrapper_character .scroll_img{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 100%;
  height: 80px; 
  width: 80px;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.808);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: .99;
  transition: .5s;

}

.modal .content_modal{
  width: 80%;
  height: 32rem;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 90px;
  padding: 1rem;
  color: var(--var-primary);

  box-shadow: 7px 4px 16px -3px rgba(131, 131, 131, 0.856);
  background: black;
  background: linear-gradient(162deg, rgb(15, 57, 51) 8%, rgba(3, 17, 74, 0.904) 84%, rgba(6, 10, 37, 0.911) 100%);
}


@media screen and (max-width: 768px){
  #pg_navbar ul li{
    display: none;
  }
  #pg_navbar ul li:nth-child(1){
    display: block;
  }
  
}

