@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sawarabi+Gothic&display=swap');

:root{
  --var-primary:#ffffff;
  --var-secondary:#000000;
  --var-chumbo-1: #4e8391;
  --var-chumbo-2: #304058;
  --var-chumbo-3: #3040582f;
}

body{
  margin:0;
  padding: 0;
  height: 100%;
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--var-chumbo-3);
  
}

header{
  width: 100%;
  max-width: 64rem;
  /* background-color: #ffffff; */
}
ul{
  display: flex;
}
#logo_place{
  position: relative;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
#logo_place p{
  position: absolute;
  color: red;
  margin: 0;
  bottom: 32px;
  font-weight: bolder;
}
#container{
  width: 100%;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/dragon 2.png');
  image-orientation: from-image ;
  background-repeat: no-repeat;
  background-size:cover;
}
#wrapper{
  display: flex; 
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
}

main{
  width: 100%;
  height: 32rem;
  display: flex;
  background-color: #031327b0;
  flex-direction: column;
  box-shadow: 7px 4px 16px -3px rgba(26, 25, 25, 0.856);
  

}

