@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sawarabi+Gothic&display=swap');

:root{
  --var-primary:#ffffff;
  --var-primary-light: #b9b9b9ec;
  --var-secondary:#000000;
  --var-chumbo-1: #4e8391;
  --var-chumbo-2: #304058;
  --var-chumbo-3: #3040582f;
}

body{
  margin:0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  font-family: "Sawarabi Gothic", sans-serif;
  font-style: normal;
  background: var(--var-chumbo-3);
  overflow: hidden;
}



  /* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--var-chumbo-1) transparent;

}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--var-chumbo-2);
}

*::-webkit-scrollbar-thumb {
  background-color: #304058;
  border-radius: 20px;
  border: 3px solid var(--var-chumbo-1);

}